#results-container li:nth-last-of-type(1) {
	margin-bottom: 15px;
}

#search-demo-container {
	float: right;
	line-height: 54px;
	margin-right: 20px;

	@include media-query($on-palm) {
        float: left;
        margin-left: 20px;
	}
}