#results-container li:nth-last-of-type(1) {
	margin-bottom: 15px;
}

#search-demo-container {
	float: right;
	line-height: 54px;
	margin-right: 20px;

	@include media-query($on-palm) {
		float: left;
		margin-left: 20px;
	}
}

@mixin align-justify {

	display: inline-block;
	text-align: justify;
	hyphens: auto;

	&::after {
		display: inline-block;
		content: '';
		width: 80%;
	}
}

ul.post-list {

	@include align-justify();

	li {
		display: inline-block;
		text-align: left;
		background-color: white;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
		width: 30%;
		vertical-align: top;

		@include media-query($on-palm) {
			width: 100%;
		}

		&>div {

			padding: 0.5rem;

			h2 {
				text-align: left;
			}

			.post-meta {
				display: inline-block;
			}

			.post-category {
				float: right;
				border: 1px solid gray;
				padding: 0 .5rem;
				text-transform: capitalize;
				@include relative-font-size(0.9);
			}
		}
	}
}

.post-link {
	font-size: 1.25rem;
}

.post-image {
	margin-bottom: 1rem;
}