.search {

    position: relative;
    margin-bottom: 1rem;
    border: 1px solid $grey-color-light;
    padding: 0 .5rem;
    border-radius: .5rem;
    background-color: white;

    i:before {
        color: $grey-color;
    }

	input {
        width: calc(100% - 2rem);
        margin-left: .25rem;
		box-sizing: border-box;
		line-height: 2;
        z-index: 1;
        appearance: none;
        border: 0;
		@include relative-font-size(1);
	}

	ul {
		list-style-type: none;
		position: absolute;
		background-color: white;
        margin: 0;
        margin-top: .25rem;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        border-radius: $border-radius;
        box-shadow: 0px 0px 5px 0px $grey-color-light;
        padding: 0 .5rem;
        li {
            padding: .5rem 0;
        }
	}
}