@mixin align-justify {

	display: inline-block;
	text-align: justify;
	hyphens: auto;

	&::after {
		display: inline-block;
		content: '';
		width: 80%;
	}
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

ul.post-list {

	@include align-justify();

	li {
		display: inline-block;
		text-align: left;
		background-color: white;
		box-shadow: 0px 0px 5px 0px $grey-color-light;
		width: 30%;
		vertical-align: top;
		border: 1px solid $grey-color-light;
		border-radius: $border-radius;

		@include media-query($on-palm) {
			width: 100%;
		}

		img {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&>div {

			padding: 0.5rem;

			h2 {
				text-align: left;
			}

			.post-meta {
				display: inline-block;
			}

			.post-category {
				float: right;
				border: 1px solid gray;
				padding: 0 .5rem;
				text-transform: capitalize;
				@include relative-font-size(0.9);
			}
		}
	}
}

.post-link {
	font-size: 1.25rem;
}

.post-image {
	margin-bottom: 1rem;
}

.post-content img {
	display: block;
	margin: 0 auto;
	border: 1px solid lightgray;
}