---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- horizontal_ads -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8962113707459496" data-ad-slot="4606535639"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="post-content">
    {{ content }}
  </div>

</article>