---
layout: default
---
<article class="post mx-3 mx-md-0">

  <header class="mb-3">
    <h1 class="h1 mb-3">{{ page.title | escape }}</h1>
    <div class="d-flex align-items-center">
      {%- if site.author -%}
      <div class="text-muted mr-3 font-smaller"><i class="fa fa-user" aria-hidden="true"></i>
        {{ site.author }}</div>
      {%- endif -%}
      <div class="flex-grow-1 font-smaller"><time class="text-muted" datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: date_format }}
        </time></div>
      <div>{%- include social-buttons.html -%}</div>
    </div>
  </header>

  {%- include google-adsense-amp.html max-height="100" -%}

  {%- if page.banner -%}
  <amp-img class="post-image" style="margin-bottom: 2rem;"
    src="{{ page.image | image_size: '19x10' | relative_url }}.webp" width='1200' height='675' layout="responsive"
    alt="{{ page.title }}">
    <amp-img fallback class="post-image" src="{{ page.image | image_size: '19x10' | relative_url }}" width='1200'
      height='675' layout="responsive" alt="{{ page.title }}"></amp-img>
  </amp-img>
  {%- endif -%}

  {{ content }}

  {%- include subscribe-notation.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  
  {%- include google-adsense-amp.html max-height="100" -%}

  <amp-facebook-comments width="1200" height="400" layout="responsive" data-numposts="5" data-href="{{ page.url }}">
  </amp-facebook-comments>

</article>